#map{
    width:100%;
    height: 600px;
    border-radius: 10px;
}
#info {
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 2%;
}
.content{
    width:70rem;
    margin: auto;
    margin-top: 100px;
}
.contentBox{
    display: flex;
}
.left{
    width:65%;
}
.right{
    width:35%;
}
.jpname{
    font-size: 0.9rem;
}
.map_bar{
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
}
.legend{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.legend img{
    width:1.5rem;
    margin-top: 4px;
}
.legend div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.legend p {
    font-size: 0.8rem;
    color:#6e6e6e
}
#time {
    margin-left: 2%;
}
#headline{
    margin-left: 2%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    white-space: pre-line ;
}
.conditionBox{
    display: flex;
}
.conditionBox > p{
    text-align: center;
    padding:0.3rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 0.3rem;
}
.condition{
    background-color: red;
    color:white;
}
.revise{
    border: 1px solid red;
    color:red;
}